.page-switch {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 25px;
    width: 100%;
  }
  
  .page-switch p {
    font-size: 17px;
    width: 242px;
  }
  
  .page-switch h6 {
    width: 120px;
    font-size: 16px;
  }